---
---
{%- include base_path -%}
<!doctype html>
<html lang="{{- site.locale | slice: 0,2 | default: "en" -}}" class="no-js">
  <head>
    {%- include head.html -%}
    {%- include head/custom.html -%}
  </head>
  <body class="layout--{{- page.layout | default: layout.layout -}}{%- if page.classes or layout.classes -%}{{- page.classes | default: layout.classes | join: ' ' | prepend: ' ' -}}{%- endif -%}">
    {%- include browser-upgrade.html -%}
    {%- include masthead.html -%}
    {{- content -}}
    <div class="page__footer">
      <footer>
        {%- include footer/custom.html -%}
        {%- include footer.html -%}
      </footer>
    </div>
    {%- include scripts.html -%}
  </body>
</html>