---
layout: default
---

{%- include base_path -%}
{%- if page.header.overlay_color or page.header.overlay_image or page.header.image -%}
  {%- include page__hero.html -%}
{%- endif -%}
{%- if page.url != "/" and site.breadcrumbs -%}
  {%- unless paginator -%}
    {%- include breadcrumbs.html -%}
  {%- endunless -%}
{%- endif -%}
<div id="main" role="main">
  {%- include sidebar.html -%}
  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {%- if page.title -%}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{%- endif -%}
    {%- if page.excerpt -%}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{%- endif -%}
    {%- if page.date -%}<meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{%- endif -%}
    {%- if page.modified -%}<meta itemprop="dateModified" content="{{ page.modified | date: "%Y-%m-%d" }}">{%- endif -%}
    <div class="page__inner-wrap">
      {%- unless page.header.overlay_color or page.header.overlay_image -%}
        <header>
          {%- if page.date -%}<p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Posted:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time> {% if page.modified %} ({{ site.data.ui-text[site.locale].date_mod_label | default: "Updated:" }} <time datetime="{{ page.modified | date_to_xmlschema }}"> {{ page.modified | date: "%Y-%m-%d" }})</time>{%- endif -%}</p>{%- endif -%}
          {%- if page.title -%}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{%- endif -%}
          {%- if page.read_time -%}
            <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html -%}</p>
          {%- endif -%}
        </header>
      {%- endunless -%}
      <section class="page__content" itemprop="text">
        {{ content }}
        {%- if page.link -%}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{%- endif -%}
      </section>
      <footer class="page__meta">
        {%- if site.data.ui-text[site.locale].meta_label -%}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {%- endif -%}
        <p class="page__date"><strong><i class="fa fa-fw fa-creative-commons" aria-hidden="true"></i> License: </strong> <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> Jan Wildeboer</p>
        {%- if page.modified -%}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_mod_label | default: "Updated:" }}</strong> <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%Y-%m-%d" }}</time></p>
        {%- elsif page.date -%}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Posted:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time></p>
        {%- endif -%}
        {%- include page__taxonomy.html -%}
      </footer>
      {%- if page.comments -%}
        {%- include fediverse_comments.html -%}
      {%- endif -%}
      {%- include post_pagination.html -%}
    </div>
  </article>
  {%- comment -%}<!-- only show related on a post page when not disabled -->{%- endcomment -%}
  {%- if page.id and page.related and site.related_posts.size > 0 -%}
    <div class="page__related">
      {%- if site.data.ui-text[site.locale].related_label -%}
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      {%- endif -%}
      <div class="grid__wrapper">
        {%- for post in site.related_posts limit:4 -%}
          {%- include archive-single.html type="grid" -%}
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</div>